# macOS cruft
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio project files
.Rproj.user/

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz
/*.Rcheck/

# Vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token
.httr-oauth

# knitr / R Markdown caches
*_cache/
/cache/

# Temporary Rmd artifacts
*.utf8.md
*.knit.md

# Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect
rsconnect/
